﻿@model EventSystem.Models.MainViewModel

@{
    /**/

    ViewBag.Title = "الاحصائيات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Model.CountAll
    @Model.CountMale
    @Model.CountFemale
    @Model.CountStudent
    @Model.CountEmployee
    @Model.CountStaff
    @Model.CountVisitor
    @Model.CountUnder18
    @Model.Count18TO30
    @Model.CountAbove30*@

<h2>الاحصائيات</h2>

@using (Html.BeginForm("Index", "Statistics", FormMethod.Get, new { @id = "form-event", @name = "myForm" }))
{
    <div class=" col-md-12">
        <div class=" col-md-2">
            <label class="form-control">اسم الفعالية </label>
        </div>
        <div class=" col-md-4">
            @Html.DropDownList("EventId", null, "جميع الفعاليات", new { @class = "form-control " })
        </div>
        <div class=" col-md-2">
            <label class="form-control">عدد الزوار </label>
        </div>
        <div class=" col-md-4">
            <label class="form-control">@Model.statisticViewModel.CountAll زائر </label>
        </div>
    </div>
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script>
    $("#EventId").on('change', function () {
        var getValue = $(this).val();
        var frm = document.getElementById('form-event') || null;
        if (frm) {
            frm.action = '../../Statistics/Index/' + getValue;
        }
        document.myForm.submit();
    });
</script>

@*<canvas id="myChart"></canvas>*@
<div class="col-md-4">
    <canvas id="ChartSex"></canvas>
</div>
<div class="col-md-4">

    <canvas id="ChartAge"></canvas>
</div>
<div class="col-md-4">

    <canvas id="ChartType"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById('ChartSex').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountMale)',
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountFemale)',
            ],
            datasets: [{
                label: 'إحصائيات',
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                ],
                borderWidth: 2,
                data: [
                    @Model.statisticViewModel.CountMale,
                    @Model.statisticViewModel.CountFemale,
                    ]
            }]
        },
    });
</script>
<script>
    var ctx = document.getElementById('ChartAge').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountUnder18)',
                '@Html.DisplayNameFor(model => model.statisticViewModel.Count18TO30)',
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountAbove30)',
            ],
            datasets: [{
                label: 'إحصائيات',
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                ],
                borderWidth: 2,
                data: [
                    @Model.statisticViewModel.CountUnder18,
                    @Model.statisticViewModel.Count18TO30,
                    @Model.statisticViewModel.CountAbove30,
                    ]
            }]
        },
    });
</script>
<script>
    var ctx = document.getElementById('ChartType').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountStudent)',
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountEmployee)',
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountStaff)',
                '@Html.DisplayNameFor(model => model.statisticViewModel.CountVisitor)',
            ],
            datasets: [{
                label: 'إحصائيات',
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                ],
                borderWidth: 2,
                data: [
                    @Model.statisticViewModel.CountStudent,
                    @Model.statisticViewModel.CountEmployee,
                    @Model.statisticViewModel.CountStaff,
                    @Model.statisticViewModel.CountVisitor,
                    ]
            }]
        },
    });
</script>
