﻿@model EventSystem.Models.Event

@*الي يطلع فوق بالتاب*@
@{
    ViewBag.Title = "اضافة فعالية";
}

<h2> الفعاليات</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">اضافة فعالية</h3>
            <div class="box-tools pull-right">
                @*@Html.Partial("Partial/HeaderButtons")*@
            </div><!--box-tools pull-right-->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class=" col-lg-6">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "date-format" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class=" col-lg-6">
                <div class="form-actions no-color">
                    <input type="submit" value="اضافة" class="btn btn-primary btn-xs" />
                    @Html.ActionLink("العودة الى قائمة الفعاليات", "Index", null, new { @class = "btn btn-default btn-xs" })
                </div>

            </div>
        </div>
    </div><!--box-->
}


@section Scripts {

    <link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" />
    <link href="~/Content/icon.css" rel="stylesheet">

    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-material-datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date-format').bootstrapMaterialDatePicker({
                format: 'HH:mm YYYY/MM/DD',
                weekStart: 0,
                cancelText: 'إلغاء',
                okText: 'موافق',
                minDate: new Date()
            });

            $.material.init()
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}