﻿@model EventSystem.Models.Event

@{
    ViewBag.Title = "حذف فعالية";
}


<h2>حذف الفعالية</h2>

<div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                هل تريد حذف هذه الفعالية؟
            </h3>
        </div>
            <div class="box-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane mt-30 active" id="overview">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.Name)</th>
                                <td> @Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.Place)</th>
                                <td> @Html.DisplayFor(model => model.Place)</td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.Date.Date)</th>
                                <td> @Html.DisplayFor(model => model.Date.Date)</td>
                            </tr>
                            <tr>
                                <th> الوقت</th>
                                <td> @Html.DisplayFor(model => model.Date.TimeOfDay)</td>

                            </tr>
                        </table>
                    </div><!--tab overview profile-->

                </div><!--tab content-->

            </div><!--tab panel-->
            @*<button type="submit" class="btn btn-danger btn-xs"></button>*@
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-danger btn-xs" /> 
                @Html.ActionLink("العودة الى القائمة", "Details", new { id = Model.EventID }, new { @class = "btn btn-default btn-xs" })
            </div>
            }
        </div><!-- /.box-body -->
    </div><!--box-tools pull-right-->
</div><!-- /.box-header -->