﻿@model EventSystem.Models.Event

@{
    ViewBag.Title = "تفاصيل الفعالية";
}

<h2>الفعاليات</h2>



<div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                تفاصيل الفعالية
            </h3>

            <div class="box-tools pull-right">
                @*the action name in the middale is comming from the Event controller from the method that i write*@

                @Html.ActionLink("الزائرين", "Visitors", new { id = Model.EventID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("اضافة زائر", "Create", "Visitors", new { id = Model.EventID }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("حذف", "Delete", new { id = Model.EventID }, new { @class = "btn btn-danger btn-xs" })
                @Html.ActionLink("تعديل", "Edit", new { id = Model.EventID }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("العودة الى قائمة الفعاليات", "Index", null, new { @class = "btn btn-default btn-xs" })
            </div><!--box-tools pull-right-->
        </div><!-- /.box-header -->

        <div class="box-body">

            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
                            عام
                        </a>
                    </li>

                </ul>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane mt-30 active" id="overview">

                        <table class="table table-striped table-hover">
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.Name)</th>
                                <td> @Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.Place)</th>
                                <td> @Html.DisplayFor(model => model.Place)</td>
                            </tr>
                            <tr>
                                <th>التاريخ</th>
                                <td> @Model.Date.ToString("yyyy-MM-d")</td>
                            </tr>
                            <tr>
                                <th> الوقت</th>
                                <td> @Model.Date.ToString("hh:mm tt")</td>

                            </tr>
                        </table>
                    </div><!--tab overview profile-->

                </div><!--tab content-->

            </div><!--tab panel-->

        </div><!-- /.box-body -->
    </div><!--box-->
</div>



