﻿@model EventSystem.Models.Event

@{
    ViewBag.Title = "تعديل بينات الفعالية";
}

<h2> الفعاليات</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">تعديل معلومات الفعالية</h3>
            <div class="box-tools pull-right">
            </div><!--box-tools pull-right-->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class=" col-lg-6">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.EventID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*value="@Model.Date" << to get the value *@
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @width = "276" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>
            </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class=" col-lg-6">
                    @* @Html.ActionLink("حفظ", "Save", null, new { @class = "btn btn-primary btn-xs" })*@
                    <input type="submit" value="حفظ" class="btn btn-primary btn-xs" />
                    @Html.ActionLink("العودة الى القائمة", "Details", new { id = Model.EventID }, new { @class = "btn btn-default btn-xs" })
                </div>
            </div>
        </div>
    <script>
        $('#datepicker').datetimepicker({
            //uiLibrary: 'bootstrap',
            //format: "yyyy-mm-ddThh:ii"
            footer: true, modal: true
        });
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
