﻿@model IEnumerable<EventSystem.Models.Event>

@{
    ViewBag.Title = "الفعاليات";
}

<h2>الفعاليات </h2>
<style>
    .img_Custom {
        width: 10%;
    }
</style>


<div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                قائمة الفعاليات
            </h3>

            <div class="box-tools pull-right">
                @Html.ActionLink("اضافة فعالية", "Create", null, new { @class = "btn btn-primary btn-xs" })

            </div><!--box-tools pull-right-->
        </div><!-- /.box-header -->

        <div class="box-body">
            <table id="example" class="table table-striped table-bordered display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Place)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            التاريخ
                            @*@Html.DisplayNameFor(model => model.Date.Day)*@
                        </th>
                        <th>
                            الوقت
                        </th>
                        <th>
                            عدد المسجلين
                        </th>
                        <th>
                            الحالة
                        </th>
                        <th>
                            الاجراءات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @* we use item rether then htkl displayfor to the date and time *@
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Place)
                            </td>
                            <td>
                                @item.Date.ToString("dddd", new System.Globalization.CultureInfo("ar-SA"))
                            </td>
                            <td>
                                @item.Date.ToString("yyyy-MM-d")
                            </td>
                            <td>
                                @item.Date.ToString("hh:mm tt")
                            </td>
                            <td>
                                @item.Visitors.Count()
                            </td>
                            @* we use DateTime.Now to copmere with todays date *@
                            <td>
                                @if (item.Date > DateTime.Now)
                                {
                                    <img src="~/Content/iconfinder_Ball Green_34555.png" class="img_Custom" />
                                }

                                else
                                {
                                    <img src="~/Content/iconfinder_Ball Red_34556.png" class="img_Custom" />
                                }
                            </td>
                            <td>
                                @* @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |*@
                                @Html.ActionLink("التفاصيل", "Details", new { id = item.EventID }, new { @class = "btn btn-info btn-xs" })
                                @* @Html.ActionLink("Delete", "Delete", new { id=item.EventID })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        </div>
    </div>
</div>