﻿@model IEnumerable<EventSystem.Models.Visitor>


@{
    ViewBag.Title = "الزائرين";
}

<h2>الفعاليات</h2>


<div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                قائمة الزائرين
            </h3>

        </div><!-- /.box-header -->

        <div class="box-body">
            <table id="example" class="table table-striped table-bordered display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @* we use item rether then htkl displayfor to the date and time *@
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            @Html.ActionLink("العودة الى القائمة", "Details", new { id = ViewBag.EventId }, new { @class = "btn btn-default btn-xs pull-right" })
        </div>
    </div>
</div>