﻿@{
    ViewBag.Title = "تواصل معنا";
}

<h2>تواصل معنا </h2>

@*<h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@



    <div>
        <div class="box box-success">
       

            <div class="box-body">
                <table id="example" class="table table-striped table-bordered display" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                <h5><i class="fa fa-mobile"></i> +9661-46-70-000</h5>
                                <h5><i class="fa fa-fax"></i> +9661-46-77-580 </h5>
                                <h5><i class="fa fa-at"></i> INFO@KSU.EDU.SA</h5>
                                <h5><i class="fa fa-archive"></i> P.BOX 145111 ZIP 4545</h5>
                                <br />
                                <a href="https://twitter.com/_KSU">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>
                                <a href="https://www.facebook.com/King.Saud.University" class="footer-icon">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a>
                                <a href="https://plus.google.com/110652947389607595274" class="footer-icon">
                                    <i class="fa fa-google-plus fa-2x"></i>
                                </a>
                                <a href="http://www.youtube.com/user/pdksuchannel" class="footer-icon">
                                    <i class="fa fa-youtube fa-2x"></i>
                                </a>
                            </th>

                        </tr>
                    </thead>

                </table>
            </div>

        </div>
    </div>