﻿ @*we write it here becase the action method is Index*@
@*@model EventSystem.Models.StatisticViewModel*@

@{
    ViewBag.Title = " نظام التسجيل الإلكتروني للفعاليات في الجامعة";
}

<div class="jumbotron">
    <h1>نظام التسجيل الإلكتروني للفعاليات في الجامعة</h1>

    @*<img src="~/Content/fonts/ksu_logo.png" width="260" />*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>@Model.Event.Name</h2>
        <p>
            ASP.NET MVC gives yoتبلتنامتالتu a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Model.CountAll</h2>
        <h2>@Model.CountMale</h2>
        <h2>@Model.CountFemale</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@