﻿@model EventSystem.Models.Visitor

@{
    ViewBag.Title = "اضافة زائر";
}

<h2>الزوار</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">اضافة زائر</h3>
            <div class="box-tools pull-right">
            </div><!--box-tools pull-right-->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class=" col-lg-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.VName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.VName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>
                <div class="form-group">
                    @Html.LabelFor(model => model.PNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>
                <div class="form-group">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.RadioButtonFor(m => m.Gender, "ذكر") ذكر
                        @Html.RadioButtonFor(m => m.Gender, "أنثى") أنثى
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.RadioButtonFor(m => m.Type, "طالب") طالب
                        @Html.RadioButtonFor(m => m.Type, "موظف") موظف
                        @Html.RadioButtonFor(m => m.Type, "عضو هيئة التدريس") عضو هيئة التدريس
                        @Html.RadioButtonFor(m => m.Type, "زائر") زائر
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
            @Html.LabelFor(model => model.EventId, "EventId", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("EventId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
            </div>
        </div>*@
                @Html.Hidden("EventId", null)

            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class=" col-lg-6">
                @*<input type="submit" value="تسجيل" class="btn btn-sm btn-primary pull-right" />*@
                <input type="submit" value="اضافة" class="btn btn-primary btn-xs" />
                @Html.ActionLink("العودة الى القائمة", "Details", "Events", new { id = ViewBag.EventId }, new { @class = "btn btn-sm btn-default btn-xs" })
            </div>
        </div>
    </div><!--box-->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
