﻿@model IEnumerable<EventSystem.Models.Visitor>

@{
    ViewBag.Title = "الزائرين";
}

<h2>قائمة الزائرين</h2>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">بيانات الزوار</h3>
        <div class="box-tools pull-right">
        </div><!--box-tools pull-right-->
    </div><!-- /.box-header -->
    <div class="box-body">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Event.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>

                </tr>
            }

        </table>
    </div><!-- /.box-body -->
</div><!--box-->