﻿@model IEnumerable<EventSystem.Models.ApplicationUser>

@{
    ViewBag.Title = "موظفين التسجيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>موظفين التسجيل</h2>

<div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                 موظفين التسجيل
            </h3>

            <div class="box-tools pull-right">
                @Html.ActionLink("اضافة موظف", "Create", null, new { @class = "btn btn-primary btn-xs" })

            </div><!--box-tools pull-right-->
        </div><!-- /.box-header -->

        <div class="box-body">
            <table id="example" class="table table-striped table-bordered display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Entity)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @* we use item rether then htkl displayfor to the date and time *@
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Entity)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        </div>
    </div>
</div>