﻿@model EventSystem.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>  ادارة المستخدم</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div>
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    ارسال كلمة المرور
                </h3>
            </div>
            <div class="box-body">
                <div class=" col-lg-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" class="btn btn-success" value="ارسال" />
                    </div>
                </div>
            </div>
        </div><!--box-tools pull-right-->
    </div><!-- /.box-header -->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}