﻿@using EventSystem.Models
@model LoginViewModel
@{
    ViewBag.Title = "تسجيل دخول";
}

<h2 class=" text-center ">@ViewBag.Title</h2>


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-4 col-md-offset-4">
        <div class="box box-success ">
            <div class="box-header with-border ">
                <h3 class="box-title">بيانات تسجيل الدخول</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <section id="loginForm">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                </section>

            </div><!-- /.box-body -->
            <div class="box-footer">
                @Html.ActionLink("نسيت كلمة المرور", "ForgotPassword", null, new { @class = "btn btn-sm btn-default" })
                <input type="submit" value="تسجيل دخول" class="btn btn-sm btn-success pull-right col-md-4" />
            </div>
        </div><!--box-->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
