﻿@model EventSystem.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>  ادارة المستخدم</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div>
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    ارسال كلمة المرور
                </h3>
            </div>
            <div class="box-body">
                <div class=" col-lg-6">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        <label class="control-label col-md-3" for="Name">كلمة السر القديمة</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="Name">كلمة السر الجديدة</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="Name">تأكيد كلمة السر</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" value="تغيير كلمة المرور" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div><!--box-tools pull-right-->
    </div><!-- /.box-header -->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
