﻿<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     @*   <a href="" target="_blank">NameProject</a>*@
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year نظام التسجيل الإلكتروني للفعاليات في الجامعة</strong>
</footer>