﻿<style>
.main-header>.navbar {
    transition: margin-right .3s ease-in-out;
    margin-bottom: 0;
    margin-right: 230px;
    border: none;
    min-height: 80px;
    border-radius: 0;
}
</style>



<nav class="navbar navbar-static-top" role="navigation" >


    @*the menu button on and off*@
    @*<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">ddddd</span>
        </a>*@

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav" >
            @*<li class="dropdown notifications-menu" id="notifications_nav">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-language"></i>
                        </a>

                        <style type="text/css">
                            .make-circle {
                                width: 30px;
                                height: 30px;
                                font-size: 15px;
                                line-height: 30px;
                                position: absolute;
                                color: #666;
                                background: #d2d6de;
                                border-radius: 50%;
                                text-align: center;
                                left: 15px;
                                top: 3.5px;
                            }
                        </style>

                </li><!-- /.notifications-menu -->*@

            @Html.Partial("_LoginPartial")
            <li>
            </li>
        </ul>
    </div><!-- /.navbar-custom-menu -->
</nav>