﻿<!DOCTYPE html>
<style>
    .img_Size {
        height: auto;
        width: 100px;
    }

    /*.main-header .logo {
        transition: width .3s ease-in-out;
        display: block;
        float: right;
        height: 80px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        width: 230px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
        padding: 0 15px;
        font-weight: 300;
        overflow: hidden;
    }*/
</style>
<html dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*This is for the icon in Tab*@
    <link rel="icon" type="image/png" href="~/Content/favicon.ico">

    <title>@ViewBag.Title - الفعاليات</title>


    @Styles.Render("~/Content/newRTL")
    @Styles.Render("~/Content/fonts/Ghla.ttf")
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body class="skin-blue sidebar-mini" style=" font-family: 'Open Sans', 'Ghla', sans-serif">

    <div class="wrapper">
        <header class="main-header">

            <a href="" class="logo" style="height: 80px">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    

                </span>

                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="~/Content/ksu_logo.png" alt="logo" width="220" height="85" />
                </span>
            </a>

            @Html.Partial("_Header")
        </header>

        <!-- Left side column. contains the logo and sidebar -->

        @Html.Partial("_Slider")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!-- Main Footer -->
        @Html.Partial("_Footer")
    </div><!-- ./wrapper -->
    <!-- JavaScripts -->

    @Scripts.Render("~/bundles/new")
    @RenderSection("scripts", required: false)
</body>
</html>
