﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/user_image.png" class="user-image" alt="User Avatar" />

            <span class="hidden-xs"> @User.Identity.Name</span>
        </a>

        <ul class="dropdown-menu">
            <li class="user-header">
                <img src="~/Content/user_image.png" class="img-circle" alt="User Image" />
                <p>
                    @User.Identity.Name
                </p>
              
            </li>



            <li class="user-footer">
                <div class="pull-left">
                    <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-default btn-flat"> <i class="fa fa-key"></i> تغيير كلمة المرور </a>
                </div>
                <div class="pull-right">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-flat"> <i class="fa fa-sign-out"></i> تسجيل خروج </a>
                    }
                </div>
            </li>
        </ul>
    </li>

}
else
{
    <li>@*@Html.ActionLink(TaskManagementSystem.Resources.User.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@</li>
    <li>@Html.ActionLink("تسجيل دخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
