﻿<aside class="main-sidebar" style="padding-top: 83px">
    <!-- sidebar: style can be found in sidebar.less -->
    <style>
        .user-panel > .info{
            line-height: 2.5!important;
        }
    </style>
    <section class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Content/user_image.png" class="img-circle" alt="User Image" />
                </div><!--pull-left-->
                <div class="pull-left info">
                    <p>@User.Identity.Name</p>
                    <!-- Status -->
                </div><!--pull-left-->
            </div><!--user-panel-->
            <!-- search form (Optional) -->
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">

                <li class="@Url.IsLinkActive("Index", "Home")">
                    <a href="@Url.Action("Index", "Home")"> <i class="fa fa-home"></i><span> الرئيسية </span></a>
                </li>
                <li class="@Url.IsLinkActive("Contact", "Home")">
                    <a href="@Url.Action("Contact", "Home")"> <i class="fa fa-phone"></i><span> تواصل معنا  </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Events")">
                    <a href="@Url.Action("Index", "Events")"> <i class="fa fa-calendar"></i><span> الفعاليات </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Statistics")">
                    <a href="@Url.Action("Index", "Statistics")"> <i class="fa fa-tachometer"></i><span> الاحصائيات </span></a>
                </li>
                <li class="@Url.IsLinkActive("Index", "Visitors")">
                    <a href="@Url.Action("Index", "Visitors")"> <i class="fa fa-female"></i><span>  الزائرين </span></a>
                </li>
                @if (User.IsInRole("AppAdmin"))
                {
                    <li class="@Url.IsLinkActive("Index", "Users")">
                        <a href="@Url.Action("Index", "Users")"> <i class="fa fa-users"></i><span>موظف التسجيل </span></a>
                    </li>
                }



                @*<li class="header">Task Management</li>

        <li class="@Url.IsLinkActive("Index", "Tasks")">
            <a href="@Url.Action("Index", "Tasks")"> <i class="fa fa-tasks"></i><span> Tasks</span></a>
        </li>

        <li class="@Url.IsLinkActive("Employees", "Tasks")">
            <a href="@Url.Action("Employees", "Tasks")"> <i class="fa fa-users"></i><span>  Employees Tasks</span></a>
        </li>*@

            </ul><!-- /.sidebar-menu -->
        }
    </section><!-- /.sidebar -->
</aside>